<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edwinnurwansyah.movies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".presentation.ui.MainMovieActivity"></activity>
    </application>

</manifest>